<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>DW민원</title>
    <link rel="icon" href="favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

    <th:block th:replace="layout/header :: header"></th:block>

    <th:block layout:fragment="main"></th:block>

    <th:block th:replace="layout/footer :: footer"></th:block>

</body>
</html>