<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.complanint.Repository.ImageRepo">

    <select id="findById" resultType="com.complanint.Entity.ComplainFile">
        select * from complain_file where complain_id=#{id}



    </select>


    <insert id="save" parameterType="com.complanint.Entity.ComplainFile">
        insert into complain_file( complain_id, file_name, file_path )
        values ( #{complainId}, #{fileName}, #{filePath} )


    </insert>

</mapper>

